#box {
    max-width: 360px;
    min-height: 640px;
    background-image: linear-gradient(to right bottom, #432b8b, #89049e);
    background-size: cover;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
}
.panel {
    margin-bottom: 10px;
    background-color: var(--white);
    border-radius: 5px;
    overflow: hidden;
}
.panel-header {
    position: relative;
    padding: 10px 15px 10px 32px;
    cursor: pointer;
    color: rgba(3, 0, 1, 0.6);
}
.panel-header:before {
    position: absolute;
    left: 15px;
    top: 14px;
    content: "";
    width: 0;
    height: 0;
    border-width: 7px 0 7px 8px;
    border-style: solid;
    border-color: transparent;
    border-left-color: rgba(3, 0, 1, 0.3);
    transition: all .3s;
}
.active .panel-header {
    background-color: #00b0ff;
    transform: rotateZ(0);
    color: rgb(255,255,255);
}
.active .panel-header:before {
    transform-style: preserve-3d;
    transform: rotateZ(90deg);
    transition: all .3s;
    border-left-color: rgba(255,255,255,.6);
}
.panel-body {
    padding: 10px 20px;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list li {
    line-height: 2em;
}
.list li a {
    color: rgba(3, 0, 1, 0.95);
    text-decoration: none;
}
.list li a:hover {
    color: #fff;
}

.p{
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
    background-color: var(--white);
    height: 60px;
}