<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Direct Messaging</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/reset.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <script src="/jquery-3.2.1.min.js"></script>
    <style type="text/css">
        #msg-box { background:rgba(255,255,255,0.5);width: 400px; height: 600px; display: none; left: 150px;top:100px;position: absolute; }
    </style>
</head>

<body onload="initAJAX();initFriend();">
<!--个人资料卡区域-->
<div id="msg-box">
<div class="msg-box-head"><center><img th:src="${user.getImage()}"></center></div>
    <hr style=" float: bottom;width:80%;margin:0 auto;border: 0;height: 3px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
    <div class="msg-box-body">
        <center>
        <div class="msg-box-body-name"><p class="p-name" th:value="${user.getUserName()}">刘泽迪</p></br>
            <p class="p-description">就是蠢</p>
        </div>
        </center>
        <div class="user-info">
            <p class="info">帐号&nbsp;</p>
            <p class="info">出生日期&nbsp;</p>
            <p class="info">性别&nbsp;</p>
            <p class="info">分组&nbsp;</p>
            <p class="info">邮箱&nbsp;</p>
            <p class="info">所在地&nbsp;</p>
            <p class="info">联系电话&nbsp;</p>
        </div>
        <div class="user-info-more">
            <p class="info-more">1053067224</p>
            <p class="info-more">1998.6.26</p>
            <p class="info-more">男</p>
            <p class="info-more">朋友</p>
            <p class="info-more">1053067224@qq.com</p>
            <p class="info-more">江西</p>
            <p class="info-more">15797895764</p>
        </div>
        <hr style=" float: bottom;width:80%;margin:0 auto;border: 0;height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
        <div class="msg-box-bottom">
            <div class="impression">
            </div>
            <div class="comment">
            <input type="text" maxlength="4" id="input-txt" />
            <input type="button" value="评价" id="input-btn" />
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="left">
            <div class="top">
                <!--个人资料卡区域-->
                <div id="hook"><img width="40px" height="40px" style="float: left;border-radius: 50%;" id="userIf" th:alt="${user.getId()}" th:src="${user.getImage()}"></div>


                <input type="text" placeholder="Search" />
                <a href="javascript:;" class="search"></a>
            </div>

            <ul class="people" id="people">


                <!--<li class="person" data-chat="person1">
                    <img src="../static/img/thomas.jpg" alt="" />
                    <span class="name">Thomas Bangalter</span>
                    &lt;!&ndash;<span class="time">2:09 PM</span>
                    <span class="preview">I was wondering...</span>&ndash;&gt;
                </li>
                <li class="person" data-chat="person2">
                    <img src="../static/img/dog.png" alt="" />
                    <span class="name">Dog Woofson</span>
                    &lt;!&ndash;<span class="time">1:44 PM</span>
                    <span class="preview">I've forgotten how it felt before</span>&ndash;&gt;
                </li>
                <li class="person" data-chat="person3">
                    <img src="../static/img/louis-ck.jpeg" alt="" />
                    <span class="name">Louis CK</span>
                    &lt;!&ndash;<span class="time">2:09 PM</span>
                    <span class="preview">But we’re probably gonna need a new carpet.</span>&ndash;&gt;
                </li>
                <li class="person" data-chat="person4">
                    <img src="../static/img/bo-jackson.jpg" alt="" />
                    <span class="name">Bo Jackson</span>
                   &lt;!&ndash; <span class="time">2:09 PM</span>
                    <span class="preview">It’s not that bad...</span>&ndash;&gt;
                </li>
                <li class="person" data-chat="person5">
                    <img src="../static/img/michael-jordan.jpg" alt="" />
                    <span class="name">Michael Jordan</span>
                    &lt;!&ndash;<span class="time">2:09 PM</span>
                   <!- &lt;!&ndash;<span class="preview">Wasup for the third time like is&ndash;&gt;&ndash;&gt;you blind bitch</span>&ndash;&gt;
                </li>
                <li class="person" data-chat="person6">
                    <img src="../static/img/drake.jpg" alt="" />
                    <span class="name">Drake</span>
                   <!-- <span class="time">2:09 PM</span>
                    <span class="preview">howdoyoudoaspace</span>-->
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name">Dog Woofson</span></span></div>
            <div class="chat" data-chat="person1">
                <div class="conversation-start">
                    <span>Today, 6:48 AM</span>
                </div>
                <div class="bubble you">
                    Hello,
                </div>
                <div class="bubble you">
                    it's me.
                </div>
                <div class="bubble you">
                    I was wondering...
                </div>
            </div>
            <div class="chat" data-chat="person2">
                <div class="conversation-start">
                    <span>Today, 5:38 PM</span>
                </div>
                <div class="bubble you">
                    Hello, can you hear me?
                </div>
                <div class="bubble you">
                    I'm in California dreaming
                </div>
                <div class="bubble me">
                    ... about who we used to be.
                </div>
                <div class="bubble me">
                    Are you serious?
                </div>
                <div class="bubble you">
                    When we were younger and free...
                </div>
                <div class="bubble you">
                    I've forgotten how it felt before
                </div>
            </div>
            <div class="chat" data-chat="person3">
                <div class="conversation-start">
                    <span>Today, 3:38 AM</span>
                </div>
                <div class="bubble you">
                    Hey human!
                </div>
                <div class="bubble you">
                    Umm... Someone took a shit in the hallway.
                </div>
                <div class="bubble me">
                    ... what.
                </div>
                <div class="bubble me">
                    Are you serious?
                </div>
                <div class="bubble you">
                    I mean...
                </div>
                <div class="bubble you">
                    It’s not that bad...
                </div>
                <div class="bubble you">
                    But we’re probably gonna need a new carpet.
                </div>
            </div>
            <div class="chat" data-chat="person4">
                <div class="conversation-start">
                    <span>Yesterday, 4:20 PM</span>
                </div>
                <div class="bubble me">
                    Hey human!
                </div>
                <div class="bubble me">
                    Umm... Someone took a shit in the hallway.
                </div>
                <div class="bubble you">
                    ... what.
                </div>
                <div class="bubble you">
                    Are you serious?
                </div>
                <div class="bubble me">
                    I mean...
                </div>
                <div class="bubble me">
                    It’s not that bad...
                </div>
            </div>
            <div class="chat" data-chat="person5">
                <div class="conversation-start">
                    <span>Today, 6:28 AM</span>
                </div>
                <div class="bubble you">
                    Wasup
                </div>
                <div class="bubble you">
                    Wasup
                </div>
                <div class="bubble you">
                    Wasup for the third time like is <br />you blind bitch
                </div>

            </div>
            <div class="chat" data-chat="person6">
                <div class="conversation-start">
                    <span>Monday, 1:27 PM</span>
                </div>
                <div class="bubble you">
                    So, how's your new phone?
                </div>
                <div class="bubble you">
                    You finally have a smartphone :D
                </div>
                <div class="bubble me">
                    Drake?
                </div>
                <div class="bubble me">
                    Why aren't you answering?
                </div>
                <div class="bubble you">
                    howdoyoudoaspace
                </div>
            </div>
            <div class="write">
                <label  id="chat-tuxiang" title="发送图片" for="inputImage" class="write-link attach"><input type="file" onchange="selectImg(this)" accept="image/jpg,image/jpeg,image/png" name="file" id="inputImage" class="hidden"></label>
                <div class="div-textarea" contenteditable="true"></div>
                <a href="javascript:void(0)" id="chat-biaoqing" class="write-link smiley"><i class="iconfont icon-biaoqing"></i></a>
                <a href="javascript:void(0)" id="chat-fasong" class="write-link send"></a>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    //个人资料卡悬浮框
    var timer;
    $("#hook,#msg-box").bind("mouseover",showMsgBox).ajax();
    $("#hook").bind("mouseout",hideMsgBox);
    $("#msg-box").bind("mouseout",function(){
        if(timer){clearTimeout(timer);}
        $("#msg-box").hide();
    });
    function showMsgBox(){
        if(timer){clearTimeout(timer);}
        $("#msg-box").show();
    }
    function hideMsgBox(){
        timer=setTimeout(function(){
            $("#msg-box").hide();
        },500);
    }

  //发送功能
    $("#chat-fasong").click(function () {
        var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>')
        if (textContent != "") {
            $(".chat.active-chat").append("<div class=\"bubble me\">" +
                /*"<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +*/
                 textContent
                /*"<div class=\"chat-avatars\"><img src=\"img/icon01.png\" alt=\"头像\" /></div> </div> </div>"*/);
            //发送后清空输入框
            $(".div-textarea").html("");
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chat.active-chat").scrollTop($("#chat.active-chat")[0].scrollHeight);
            });
        }
    });

    //图片发送
    function selectImg(pic) {
        if (!pic.files || !pic.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var images = evt.target.result;
            $(".chat.active-chat").append("<div class=\"bubble me\">" +
                /*"<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +*/
                "<img style='max-width: 100px;max-height: 100px' src=" + images + "> " /*+
                "<div class=\"chat-avatars\"><img src=\"img/icon01.png\" alt=\"头像\" /></div> </div> </div>"*/);
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chat.active-chat").scrollTop($("#chat.active-chat")[0].scrollHeight);
            });
        };
        reader.readAsDataURL(pic.files[0]);
    }
        function initFriend(){
        var userId=document.getElementById("userIf").alt;
            xmlHttp.open("POST", "/friend/getAll", true);
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4) {
                    if (xmlHttp.status == 200) {
                        var data = xmlHttp.responseText;
                        var obj = JSON.parse(data);
                        var listFriend = '';
                        for (var i in obj) {
                            var friendId = obj[i].friendId;
                            var userId=obj[i].userId;
                            var image = obj[i].image;
                            var friendName=obj[i].friendName;
                            listFriend += '<li class="person" data-chat="'+friendId+'">'+
                                '<img src="'+image+'" alt="'+userId+'" />'+
                                '<span class="name">'+friendName+'</span>'+
                            '</li>';
                        }
                        document.getElementById("people").innerHTML = listFriend;
                    }
                }
            };
            xmlHttp.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
            xmlHttp.send("userId="+userId);
        }

        function getUserinfo() {
            var userId=document.getElementById("userIf").alt;



    }
</script>
<script src="/js/index.js"></script>
<script src="/js/impression.js"></script>
<script src="/js/commons.js"></script>
</body>

</html>
