<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Direct Messaging</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/reset.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <script src="/jquery-3.2.1.min.js"></script>
    <style type="text/css">
        #msg-box { background:rgba(255,255,255,0.5);width: 400px; height: 600px; display: none; left: 150px;top:100px;position: absolute; }
    </style>
    <script src="/js/index.js"></script>
    <script src="/js/impression.js"></script>
    <script src="/js/commons.js"></script>
</head>

<body onload="initAJAX();initFriend()">
<!--个人资料卡区域-->
<div id="msg-box">
<div class="msg-box-head"><center><img th:src="${user.getImage()}"></center></div>
    <hr style=" float: bottom;width:80%;margin:0 auto;border: 0;height: 3px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
    <div class="msg-box-body">
        <center>
        <div class="msg-box-body-name"><p class="p-name" th:value="${user.getUserName()}">刘泽迪</p></br>
            <p class="p-description">就是蠢</p>
        </div>
        </center>
        <div class="user-info">
            <p class="info">帐号&nbsp;</p>
            <p class="info">出生日期&nbsp;</p>
            <p class="info">性别&nbsp;</p>
            <p class="info">分组&nbsp;</p>
            <p class="info">邮箱&nbsp;</p>
            <p class="info">所在地&nbsp;</p>
            <p class="info">联系电话&nbsp;</p>
        </div>
        <div class="user-info-more">
            <p class="info-more">1053067224</p>
            <p class="info-more">1998.6.26</p>
            <p class="info-more">男</p>
            <p class="info-more">朋友</p>
            <p class="info-more">1053067224@qq.com</p>
            <p class="info-more">江西</p>
            <p class="info-more">15797895764</p>
        </div>
        <hr style=" float: bottom;width:80%;margin:0 auto;border: 0;height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
        <div class="msg-box-bottom">
            <div class="impression">
            </div>
            <div class="comment">
            <input type="text" maxlength="4" id="input-txt" />
            <input type="button" value="评价" id="input-btn" />
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="left">
            <div class="top">
                <!--个人资料卡区域-->
                <div id="hook">
                    <img id="userIf" width="40px" height="40px" style="float: left;border-radius: 50%;" th:alt="${user.getId()}" th:src="${user.getImage()}">
                </div>

                <input type="text" placeholder="Search" />
                <a href="javascript:;" class="search"></a>
            </div>
            <ul class="people" id="people">

            </ul>
        </div>
        <div class="right">
            <div class="top" ><span>To: <span class="name"></span></span></div>

            <!--<div class="chat" data-chat="163501">
                <div class="bubble you">
                    刘泽迪
                </div>
            </div>-->

            <div class="write" id="write">
                <label  id="chat-tuxiang" title="发送图片" for="inputImage" class="write-link attach"><input type="file" onchange="selectImg(this)" accept="image/jpg,image/jpeg,image/png" name="file" id="inputImage" class="hidden"></label>
                <div class="div-textarea" contenteditable="true"></div>
                <a href="javascript:void(0)" id="chat-biaoqing" class="write-link smiley"><i class="iconfont icon-biaoqing"></i></a>
                <a href="javascript:void(0)" id="chat-fasong" class="write-link send"></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //个人资料卡悬浮框
    var timer;
    $("#hook,#msg-box").bind("mouseover",showMsgBox);
    $("#hook").bind("mouseout",hideMsgBox);
    $("#msg-box").bind("mouseout",function(){
        if(timer){clearTimeout(timer);}
        $("#msg-box").hide();
    });

    function showMsgBox(){
        if(timer){clearTimeout(timer);}
        $("#msg-box").show();
    }

    function hideMsgBox(){
        timer=setTimeout(function(){
            $("#msg-box").hide();
        },500);
    }


    //图片发送
    function selectImg(pic) {
        if (!pic.files || !pic.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var images = evt.target.result;
            $(".chat.active-chat").append("<div class=\"bubble me\">" +
                /*"<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +*/
                "<img style='max-width: 100px;max-height: 100px' src=" + images + "> " /*+
                "<div class=\"chat-avatars\"><img src=\"img/icon01.png\" alt=\"头像\" /></div> </div> </div>"*/);
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chat.active-chat").scrollTop($("#chat.active-chat")[0].scrollHeight);
            });
        };
        reader.readAsDataURL(pic.files[0]);
    }

        function getUserinfo() {
            var userId=document.getElementById("userIf").alt;
        }
</script>
</body>

</html>
