<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.ncu.bootwebsocketmybatis.dao.ContentDao">
    <resultMap id="contentMap" type="Content">
<!--        <id column="id" property="id"/>-->
        <result column="sendId" jdbcType="VARCHAR" property="sendId"/>
        <result column="receiveId" jdbcType="VARCHAR" property="receiveId"/>
        <result column="content" property="content"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="getContentRecords" resultMap="contentMap" >
        select * from content
        where (sendId = #{sendId} and receiveId = #{receiveId}) or (sendId = #{receiveId} and receiveId =#{sendId})
    </select>

    <insert id="insertContentRecord">
        insert into content(sendId,receiveId,content,createTime) values(#{sendId},#{receiveId},#{content},#{createTime})
    </insert>
</mapper>