<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.ncu.bootwebsocketmybatis.dao.EvaluateInfoDao">
    <resultMap id="evaluateInfoMap" type="EvaluateInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>

    <select id="findAll" resultMap="evaluateInfoMap">
        select id,content
        from evaluateinfo
    </select>
    <!--resultMap="evaluateInfoMap"-->
    <select id="findById"  resultMap="evaluateInfoMap" parameterType="INTEGER">
         select id,content
        from evaluateinfo
        where id=#{id}
    </select>
    <select id="findByContent" resultMap="evaluateInfoMap" >
        select id,content
        from evaluateinfo
        where content=#{content,jdbcType=VARCHAR}
    </select>

    <insert id="addEvaluateInfo" useGeneratedKeys="true" keyProperty="id" parameterType="EvaluateInfo">
        insert into evaluateInfo(content) value (#{content,jdbcType=VARCHAR})
    </insert>



</mapper>