<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.ncu.bootwebsocketmybatis.dao.EvaluateDao">
    <resultMap id="evaluateMap" type="Evaluate">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="userid" jdbcType="VARCHAR" property="userId"/>
        <result column="evaluateinfoid" jdbcType="INTEGER" property="evaluateInfoId"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="evaluate_content" jdbcType="VARCHAR" property="content"/>
    </resultMap>

    <select id="findAllByUserId" resultMap="evaluateMap" parameterType="String">
        select evaluate.id,userid,evaluateinfoid,createtime,evaluateinfo.content as evaluate_content from evaluate left join evaluateinfo on evaluate.evaluateinfoid = evaluateinfo.id
        where userid=#{userId,jdbcType=VARCHAR}
    </select>

    <select id="findByUserIdAndEvaId" resultMap="evaluateMap">
        select evaluate.id,userid,evaluateinfoid,createtime,evaluateinfo.content as evaluate_content from evaluate left join evaluateinfo on evaluate.evaluateinfoid = evaluateinfo.id
        where userid=#{userId,jdbcType=VARCHAR} and evaluateinfoid=#{evaluateInfoId,jdbcType=INTEGER}
    </select>

    <insert id="addByUserId" useGeneratedKeys="true" keyProperty="id" parameterType="Evaluate">
        insert into evaluate(userid,evaluateinfoid)
        value (#{userId,jdbcType=VARCHAR},#{evaluateInfoId,jdbcType=INTEGER})
    </insert>


</mapper>