<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.ncu.bootwebsocketmybatis.dao.UserDao">
    <resultMap id="result_map" type="cn.edu.ncu.bootwebsocketmybatis.entity.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <select id="findAll" resultMap="result_map">
        SELECT  id,username,password,createtime
        from user
    </select>


</mapper>