<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.ncu.bootwebsocketmybatis.dao.UserInfoDao">
    <resultMap id="userInfoMap" type="UserInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="userid" jdbcType="VARCHAR" property="userId"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="username" jdbcType="VARCHAR" property="userName"/>
        <result column="groupName" jdbcType="VARCHAR" property="groupName"/>
    </resultMap>

    <select id="findAll" resultMap="userInfoMap">
        SELECT  userinfo.id,userid,image,sex,birthday,phone,email,country,city,`user`.username
        from userinfo left join `user` on userinfo.userid = `user`.id
    </select>

    <select id="findByUserId" resultMap="userInfoMap" parameterType="String">
        SELECT  userinfo.id,userid,image,sex,birthday,phone,email,country,city,`user`.username
        from userinfo left join `user` on userinfo.userid = `user`.id
        where userid=#{userId,jdbcType=VARCHAR}
    </select>

   <!-- <insert id="addUserInfo" keyProperty="id" useGeneratedKeys="true" parameterType="cn.edu.ncu.bootwebsocketmybatis.entity.UserInfo">
        insert into userinfo(userid,image,sex,birthday,phone,email,country,city) values (#{userId,jdbcType=VARCHAR},#{image,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR},#{birthday,jdbcType=TIMESTAMP},#{phone,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{country,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR});
    </insert>-->

    <insert id="addUserInfo" keyProperty="id" useGeneratedKeys="true" parameterType="UserInfo">
        insert into userinfo(userid) values (#{userId,jdbcType=VARCHAR});
    </insert>

    <update id="updateUserInfo"  parameterType="UserInfo">
        update userinfo set image=#{image,jdbcType=VARCHAR},sex=#{sex,jdbcType=VARCHAR},birthday=#{birthday,jdbcType=TIMESTAMP},phone=#{phone,jdbcType=VARCHAR},email=#{email,jdbcType=VARCHAR},country=#{country,jdbcType=VARCHAR},city=#{city,jdbcType=VARCHAR}
        where userid=#{userId,jdbcType=VARCHAR}
    </update>

    <update id="updateUserInfoNoImage"  parameterType="UserInfo">
        update userinfo set sex=#{sex,jdbcType=VARCHAR},birthday=#{birthday,jdbcType=TIMESTAMP},phone=#{phone,jdbcType=VARCHAR},email=#{email,jdbcType=VARCHAR},country=#{country,jdbcType=VARCHAR},city=#{city,jdbcType=VARCHAR}
        where userid=#{userId,jdbcType=VARCHAR}
    </update>
</mapper>